body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}


.chat-container {
    width: 60%;
    height: calc(60vw * 3 / 4);
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.chat-header {
    background-color: #128C7E; /* Vibrant background color */
    color: #FFFFFF; /* White text color */
    padding: 10px;
    text-align: center;
    font-family: "Arial", sans-serif; /* Better font choice */
    font-size: 20px; /* Larger font size */
    border-top-left-radius: 5px; /* Rounded corners */
    border-top-right-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.chat-messages {
    padding: 10px;
    max-height: 400px; /* Increase this value to make the container taller */
    overflow-y: auto; /* This property determines the overflow behavior */
}


.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc; /* Add a top border */
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 30px; /* Rounded corners */
    background-color: #f0f0f0; /* Background color */
    font-size: 14px;
    outline: none; /* Remove outline on focus */
}

.chat-input button {
    background-color: #128C7E;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.chat-input button:hover {
    background-color: #0E7460;
}


.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    background-color: #e1ffc7;
    animation: fadeIn 0.5s ease;
    border-radius: 5px;
    padding: 8px 12px;
    max-width: 80%;
    width: fit-content;
    font-size: 20px;
}

.message-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5px;
    padding: 8px 12px;
    background-color: #128C7E; /* Teal background color */
    color: #FFFFFF; /* White text color */
    border-radius: 10px; /* Rounded corners */
    font-size: 14px;
    max-width: 70%; /* Limit the width to prevent overly wide messages */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message span {
    font-size: 10px; /* Adjust the font size */
    color: grey;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
